.main-publikacje {
  background-image: url(/assets/img/law3.png);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.publikacje-section {
  background-color: #e7e7e7ec;
}

.publikacje-image img {
  width: 300px;
  height: 425px;
  text-align: center;
}

.publikacje-image img:hover {
  filter: grayscale(0);
} 

.column-publikacje {
 
  text-align: center;
  padding: 50px;
}

.section-title h2 {
  font-size: 44px;
}

.publikacje-section h2 {
  color: var(--color-navy);
  padding-bottom: 20px;
  margin-bottom: 60px;
  position: relative;
}

.publikacje-text h3 {
  color: var(--color-navy);
  font-weight: 500;
  padding: 20px 0;
  position: relative;
  margin: 10px 0;
}

.publikacje-text h3:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100px;
  height: 2px;
  background: #c0b596;
}
.publikacje-text h3:hover:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 90%;
  height: 2px;
  background: var(--color-gold);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

